.cards__container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards{
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 5px 1px var(--color-cards-box-shadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1.5rem;
    width: 80vw;
}

.cards__first--img, .cards__second--img, .cards__third--img{
    background-image: url(../images/illustration-grow-together.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    margin-top: 2.5rem;
    width: 50vw;
}

.cards__second--img{
    background-image: url(../images/illustration-flowing-conversation.svg);
}

.cards__third--img{
    background-image: url(../images/illustration-your-users.svg);
}

h3{
    font-family: var(--font-poppins);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.cards__text{
    text-align: center;
    color: var(--color-graysh-blue);
    font-family: var(--font-openSans);
    font-size: .8rem;
    line-height: 1.5rem;
}

.cards__getStarted{
    align-items: center;
    border-radius: 1.5rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2px 1px var(--color-cards-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding: 2.5rem 1.5rem;
    position: relative;
    top: 3rem;
    width: 90vw;
}

.cards__getStarted h3{
    font-size: 1rem;
    margin-top: .7rem;
}

.cards__getStarted span{
    margin-bottom: 0rem;
}


@media screen and (min-width: 1440px){
    .cards__container{
        margin-top: 10rem;
    }

    .cards{
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .cards__first--img, .cards__second--img, .cards__third--img{
        background-size: cover;
        height: 45vh;
        margin-bottom: 2em;
        width: 30vw;
    }

    .second{
        flex-direction: row;
    }

    .cards__second--img{
        background-size: contain;
        margin-bottom: 0rem;
        margin-left: 3rem;
    }

    .cards__container--text{
        margin-left: 5rem;
        width: 40%;
    }

    h3{
        font-size: 1.8rem;
    }

    .cards__text{
        font-size: 1.03rem;
        text-align: start;
    }

    .secondCard{
        font-size: 1rem;
    }    

    .cards__getStarted{
        height: 15rem;
        top: 5rem;
        width: 50vw;
    }

    .cards__getStarted h3{
        font-size: 1.8rem;
    }

    .cards__getStarted span{
        font-size: 1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}
