footer{
    background-color: var(--color-dark-cyan);
}

.footer__logo{
    height: 2rem;
    margin-top: 8rem;
}

.footer__container--itens{
    display: flex;
    margin-top: 1.5rem;
}

.footer__container--itens p{
    color: var(--color-pale-cyan);
    font-family: var(--font-openSans);
    line-height: 1.5rem;
    margin-left: 1rem;
}

.footer__logos{
    height: 1rem;
    margin-left: 1rem;
    margin-top: .3rem;
}

nav{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.footer__li{
    margin-left: 1rem;
}

.footer__li a{
    color: var(--color-white);
    font-family: var(--font-openSans);
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-decoration: none;
}

.footer__container--final{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer__brands{
    margin-bottom: 1rem;
}

.footer__brands i{
    border: 1px solid var(--color-white);
    border-radius: 50%;
    color: var(--color-white);
    padding: .8rem;
}

.fa-twitter{
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer__container--final p{
    color: var(--color-pale-cyan);
    font-family: var(--font-poppins);
    font-size: .8rem;
    margin-bottom: .5rem;
}

#facebook{
    padding-left: .9rem;
    padding-right: .9rem;
}

.desktop__copyright{
    display: none;
}


@media screen and (min-width: 1440px){
    footer{
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 60vh;
    }

    .footer__logo{
        height: 2.5rem;
        margin-left: 0.5rem;
    }

    .footer__nav--mobile{
        display: none;
    }

    .container__nav--desktop{
        display: flex;
        margin-top: 6.2rem;
    }

    .footer__nav--desktop{
        margin-right: 7rem;
    }

    .footer__container--final{
        margin-top: 4rem;
    }

    .footer__brands i{
        padding: .5rem;
        position: relative;
        right: 5rem;
    }
    
    .fa-twitter{
        margin-left: .5rem;
        margin-right: .5rem;
    }

    #facebook{
        padding-right: .65rem;
        padding-left: .65rem;
    }

    .desktop__copyright{
        display: inline;
    }

    .copyright{
        position: relative;
        top: 10rem;
    }    
}
