footer{
    background-color: var(--color-dark-cyan);
}

.footer__logo{
    height: 2rem;
    margin-top: 8rem;
}

.footer__container--itens{
    display: flex;
    margin-top: 1.5rem;
}

.footer__container--itens p{
    color: var(--color-pale-cyan);
    font-family: var(--font-openSans);
    line-height: 1.5rem;
    margin-left: 1rem;
}

.footer__logos{
    height: 1rem;
    margin-left: 1rem;
    margin-top: .3rem;
}

nav{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.footer__li{
    margin-left: 1rem;
}

.footer__li a{
    color: var(--color-white);
    font-family: var(--font-openSans);
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-decoration: none;
}

.footer__container--final{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer__brands{
    margin-bottom: 1rem;
}

.footer__brands i{
    border: 1px solid var(--color-white);
    border-radius: 50%;
    color: var(--color-white);
    padding: .5rem;
}

.fa-twitter{
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer__container--final p{
    color: var(--color-pale-cyan);
    font-family: var(--font-poppins);
    font-size: .8rem;
    margin-bottom: 1rem;
}